
#sticky-section{
    position: fixed;
    top:50vh;
    right:5.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:24px;
    z-index:100;
}
#sticky-section  img:hover{
   filter: brightness(0) saturate(100%) invert(88%) sepia(100%) saturate(1300%) hue-rotate(357deg);
}
#sticky-section  img{
    height:50px;
    cursor: pointer;
}
#sticky-section a img.social-sticky{
    height:25px;
}

#sticky-section a img.social-sticky{
    height:25px;
}